body {
    text-align: center;
    background:#07369e;
}
#skin {
    width: 700px;
    margin: 70px auto 0;
    padding: 5px;
    background: #444;
    border: 10px solid #88d3ff;
    border-radius: 10px;
}
nav {
    margin: 5px 0;
}
#buttons {
    float: left;
    width: 70px;
    height: 22px;
}
button {
    border: none;
    margin-top: 2px;
    background: #dc0d16;
    color: #fff;
    padding: 3px 12px;
    height: 24px;
    width: 55px;
}
#defaultBar {
    position: relative;
    float: left;
    width: 600px;
    height: 16px;
    padding: 4px;
    border: 2px solid #444;
    background:#ffa100;
}
#progressBar {
    position: absolute;
    width: 0px;
    height: 16px;
    background: #1ea672;
}